.usersListContainer {
  .userRow {
    padding: 10px;

    &:nth-child(even) {
      background-color: #5c85a2;
    }

    &:nth-child(odd) {
      background-color: #496980;
    }

    display: flex;
    line-height: 50px;

    .userAvatar {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      background-color: #000000c2;
      display: inline-block;
      background-image: url("../../assets/avatars/avatar1.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      // background-repeat: no-repeat;
      // background-size: auto;
    }
    .username {
      display: inline-block;
      font-size: 1em;
      margin-left: 10px;
    }
  }
}
