.usersListContainer {
  display: flex;
  justify-content: center;

  .userRow {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;

    .userAvatar {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      background-color: #000000c2;
      background-image: url("../../assets/avatars/avatar1.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .username {
      font-size: 1em;
      text-align: center;
    }
  }
}
