.chatContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #5d5c61;
  .chat {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #000;
    margin: auto;
    justify-content: space-between;
    .firstRow {
      display: flex;
      flex-direction: row;
      height: 80%;
      // flex-basis: 80%;

      .users {
        background-color: #557a95;
        width: 20%;
        padding: 10px;
      }
      .chatWindow {
        width: 80%;
        background-color: #dcdcdc;
      }
    }

    .secondRow {
      background-color: #b0a295;
      height: 20%;
      .messageBox {
      }
    }
  }
}
