.chatContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;

  z-index: 2;

  // &:before {
  //   content: " ";
  //   display: block;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 1;
  //   opacity: 0.6;
  //   background-image: url("../../assets/backgrounds/mainChatBackground2.jpg");
  //   background-repeat: no-repeat;
  //   background-position: 50% 0;
  //   -ms-background-size: cover;
  //   -o-background-size: cover;
  //   -moz-background-size: cover;
  //   -webkit-background-size: cover;
  //   background-size: cover;
  // }
  .chat {
    z-index: 2;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #000;
    margin: auto;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 15px;
    .firstRow {
      display: flex;
      flex-direction: column;
      height: 100%;

      .users {
        background-color: #557a95;
        // width: 20%;
        height: 15%;
        padding: 10px;
        background: linear-gradient(
          78deg,
          rgba(2, 0, 36, 0.3) 0%,
          rgba(6, 84, 170, 0.4) 20%,
          rgba(9, 9, 121, 0.5) 58%,
          rgba(0, 212, 255, 0.8) 100%
        );
      }
      .chatWindow {
        // width: 80%;
        height: 70%;
        background-color: #dcdcdc;
      }
      .messageContainer {
        background-color: #b0a295;
        height: 15%;
        display: flex;
        .messageBox {
          width: 100%;
          margin: auto;
        }
      }
    }

    // .messageContainer {
    //   background-color: #b0a295;
    //   height: 10%;
    //   display: flex;
    //   .messageBox {
    //     width: 100%;
    //     margin: auto;
    //   }
    // }
  }
}
