.chatWindowContainer {
  height: 100%;
  z-index: 2;
  position: relative;

  .usersOffsetGrid {
    border-right: 1px dashed rgba(0, 0, 0, 0.7);
    width: 1px;
    color: transparent;
    /* height: 100%; */
    display: inline;
    position: absolute;
    /* top: 0; */
    z-index: 8;
    height: 50px;
    height: 100%;
  }

  .chatMessages {
    z-index: 2;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    overflow: scroll;
    padding: 20px;
    .singleChatRow {
      z-index: 2;
      padding: 8px;
      position: relative;

      .messagePopup {
        background-color: rgba(45, 45, 45, 0.3);
        display: inline;
        padding: 10px;
        border-radius: 14px;
        color: #e1e1e1;
        // position: absolute;
        .username {
          display: inline-block;
          font-size: 0.8em;
          font-weight: bolder;
        }
        .message {
          display: inline-block;
          font-size: 0.8em;
          margin-left: 10px;
        }
      }
    }
  }
}
